body {
    background-color: rgb(166, 158, 126);
    color: rgb(218, 80, 158);
    }



    h1 {
        color: black;
        font-size: 50px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    p {
        color: blueviolet;
        font-size: 40px;
        font-weight: lighter;
        font-family: @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
    }